body {
    background-color: rgb(240,240,240);
    font-family: Raleway, sans-serif;
    color: #747474;
    }
    .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    }
    .input-container {
    display: flex;
    justify-content: center;
    margin: 0.5em;
    width: 100%;
    }


    .input {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    border-radius: 25px;
    width: 50%;
    height: 1.5em;
    border: 0;
    padding: 10px 30px 10px 30px;
    }
    #message{
    height: 5em !important;
    }
    .input::placeholder{
    font-size: 1.5rem;
    }
    .submit{
    background-color: rgb(99, 102, 148);
    color:white;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    border-radius: 25px;
    height: 1.5em;
    border: 0;
    padding-left: 1em;
    padding-right: 1em;
    }
    .heading{
    display: flex;
    justify-content: center;
    margin: 2em 0 1em 0;
    font-size: 3em;
    color:rgb(99, 102, 148);
    text-align: center
    }
    .fa-biohazard{
    font-size: 4em;
    color:rgb(99, 102, 148);
    text-align:center;
    position: fixed;
    z-index: 5;
    }
    .navbar-container{
    display:flex;
    }
    .navbar{
    display:flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    position: fixed;
    justify-content: flex-end;
    margin:0;
    height: 4em;
    }
    a{
    text-decoration: none;
    color:rgb(99, 102, 148);
    }
    li{
    padding: 1em 3em 1em 0;
    font-size: 1.5em;
    }

    /* POSTs:   */

    .post-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 25px;
        width: 50%;
        align-items: center;
        background-color: white;
        padding: 10px 30px 10px 30px;
        margin: 0.5em;
        margin-bottom: 1.5em;
        display:none;
    }

    #posts{
        display: flex;
        justify-content: center;
        width: 100%;  
        flex-wrap: wrap;
       
    }

    .posts{
        display: flex;
        justify-content: center;     
        margin-bottom: 0.5em;
        width: 100%;      
    }

    .post-message{
        background-color: rgb(240,240,240);
        border-radius: 15px;
    }

    .input-comment{
        display: flex;
        width: 100%;
        border: 0;
        background-color: rgb(240,240,240);
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        font-size: 1em;
    }

    .form-comments{
        display: flex;
        width: 100%;

    }

    .input-comment-container{
        display: flex;
        flex-direction: column;
      
    }

    .input-comment::placeholder{
        padding: 10px 30px 10px 30px;
    
        }

   .submit-comment{
       background-color: rgb(100, 100, 150);
       color: white;
       border-bottom-right-radius:  25px;
       border-top-right-radius: 25px;
   }

   .post-message{
       display: flex;
       flex-direction: column;
   }

   .post-emoji{
       display: flex;
       align-self: flex-end;
       width: 30px;
       height: 30px;
   }

   .second-emoji{
       margin-top: 10px;
    
   }

   .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;

  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .display-comment{
      display: flex;
      flex-direction: column;
      /* display: none; */
      width: 80%;
      justify-content: center;
      align-self: center;
      align-items: center;
      font-size: .8em;
      padding: 5px 10px;
      display: none;
  }

  .gif-img{
      width: 70%;
  }
  .span{
      display: flex;
      justify-content: flex-end;
  }


